.col-centered{
float: none;
margin: 0 auto;
}
.row-centered{
	text-align: center;
}
.row-top-margin{
	margin-top: 20px;
}
.bottom-left-right-borders{
	border-left: 1px #E6E6E6;
	border-bottom: 1px #E6E6E6;
	border-right: 1px #E6E6E6;
}
.circular-profile {
	width: 150px;
	height: 150px;
	border-radius: 75px;
	-webkit-border-radius: 75px;
	-moz-border-radius: 75px;
	background: url(150px-profile.jpg) no-repeat;
}