.col-centered{
float: none;
margin: 0 auto;
}
.row-centered{
	text-align: center;
}
.center{
	text-align: center;
}
.row-top-margin{
	margin-top: 20px;
}
.circular-profile {
	width: 150px;
	height: 150px;
	border-radius: 75px;
	text-align: center;
	-webkit-border-radius: 75px;
	-moz-border-radius: 75px;
	background: url(rsz_profile.jpg) no-repeat;
}
.circular-skiing {
	width: 150px;
	height: 150px;
	border-radius: 75px;
	text-align: center;
	-webkit-border-radius: 75px;
	-moz-border-radius: 75px;
	background: url(rsz_skiing.jpg) no-repeat;
}
.circular-diving {
	width: 150px;
	height: 150px;
	border-radius: 75px;
	text-align: center;
	-webkit-border-radius: 75px;
	-moz-border-radius: 75px;
	background: url(rsz_diving.jpg) no-repeat;
}